@tailwind base;
@tailwind components;
@tailwind utilities;

/* map */

#Ukraine {
    height: 95vh;
    margin: 24px;
}

.mapBackground {
    fill: #74B2FF;
    stroke: #74B2FF;
    stroke-width: 4;
}

/* toolbar */

.toolBarItem {
    @apply cursor-pointer p-2 rounded-lg transition-colors hover:bg-blue-300 hover:text-white;
}

.toolBarItemSelected {
    @apply cursor-pointer p-2 rounded-lg transition-colors bg-blue-300 text-white;
}

.toolBarItemDeleteAll {
    @apply cursor-pointer p-2 rounded-lg transition-colors hover:bg-red-300 hover:text-white;
}

.shapeItem {
    @apply cursor-pointer rounded-lg transition-colors hover:bg-blue-300 hover:text-white;
}

.shapeItemSelected {
    @apply  cursor-pointer rounded-lg transition-colors bg-blue-300 text-white;
}